.main-button {
  align-items: flex-start;
  background-color: #8c7791;
  border: 1px none;
  border-radius: 16px;
  box-shadow: 0px 4px 14px #0000001a;
  display: flex;
  height: 60px;
  left: 272px;
  min-width: 226px;
  padding: 18px 90px;
  position: absolute;
  top: 372px;
}

.title {
  letter-spacing: 0;
  min-height: 22px;
  min-width: 45px;
  text-align: center;
}

.main-button.main-button-1,
.main-button.main-button-2 {
  background-color: var(--kimberly);
  height: 36px;
  left: unset;
  margin-top: 18px;
  min-width: 170px;
  padding: 6px 62px;
  position: unset;
  top: unset;
}

